body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Akkurat mono';
  src: local('Akkurat-Mono'), url(./fonts/Akkurat-Mono.otf) format('truetype');
}

p,a{
  font-family: 'Akkurat mono';
  font-size: 1em;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a:hover{
 opacity: 0.5;
}
.bible{
  display:flex;
  flex-direction: column;
  justify-content:center;
  padding:2rem;
  background-color:rgba(0, 0, 0, 0.9);
}
.bible p{
  text-align: start;
  max-width: 30%;
  padding-bottom:15px;
}
.nav-wrppr{
  display: flex;
}
.inmatureTitle{
  position:absolute;
  right:calc( 50% - 165.5px);
  top:calc( 50% - 125px);
}
.is-wrapper{

  background-color: #262626;
}
@media screen and (max-width: 780px) {
  .bible p{

    max-width: 100%;
  }
}
